@media only screen and (max-device-width: 767px) {
	
	.wrapper.subpage {
		padding: 0 15px;
	}
	.advantages {
		padding:0 15px;
	}
	.wrapper {
		width:100%;
	}

	.footer {
		.col-md-4 {
			margin:20px 0;
		}
	}

	.labels {
		div {
			margin:10px 0;
		}
	}
}