@media (min-device-width:768px) and (max-device-width:991px){
	.wrapper {
		width:100%;
	}
	.wrapper.subpage {
		padding:0 15px;
	}
	.advantages {
		padding:0 15px;
	}
	.slider {
		.wrapper {
			height:auto;
		}
		.join-us {
			top: 130px;
		}
		.join-full {
			top: 20px !important;
		}
	}
}